<div class="col-3">
    <div class="row Card">
        <div class="col-8 p-0">
            <div class="row TitluStatus justify-content-center align-items-end"><span>Scanner</span></div>
            <div class="row StareStatus justify-content-center align-items-center"><span style="font-family: 'Poppins', sans-serif;" id="scannerStat">Offline</span></div>
        </div>
        <div class="col-4 p-0">
        <span class="image-container">
            <img src="/img/scanner.webp" alt="">
        </span>
        </div>
    </div>
</div>