<div class="col-3">
    <div class="row Card">
        <div class="col-8 p-0 text-center">
            <div class="row TitluStatus justify-content-center align-items-end"><span>Client Server</span></div>
            <div class="row StareStatus justify-content-center align-items-center"><span>Online</span></div>
        </div>
        <div class="col-4 p-0">
        <span class="image-container">
            <img src="/img/server.png" alt="">
        </span>
        </div>
    </div>
</div>