<div class="floor3" id="floor3">
        {{#range 1 20}}
            <div class="m{{id}}" id=3{{id}}>
                
            </div>
        {{/range}}
        <div class="emergency3" id="emgZone31">
                <div class="emgButton" id="emg31">
                </div>
                <div class="emgButton" id="emg33">
                </div>
                <div class="emgButton" id="emg35">
                </div>
        </div>
        <div class="emergency3" id="emgZone32">
                <div class="emgButton" id="emg32">
                </div>
                <div class="emgButton" id="emg34">
                </div>
                <div class="emgButton" id="emg36">
                </div>
        </div>
</div>