<div class="floor2" id="floor2">
        {{#range 1 20}}
            <div class="m{{id}}" id=2{{id}}>
                
            </div>
        {{/range}}
        <div class="emergency2" id="emgZone21">
                <div class="emgButton" id="emg1">
                </div>
                <div class="emgButton" id="emg3">
                </div>
                <div class="emgButton" id="emg5">
                </div>
        </div>
        <div class="emergency2" id="emgZone22">
                <div class="emgButton" id="emg2">
                </div>
                <div class="emgButton" id="emg4">
                </div>
                <div class="emgButton" id="emg6">
                </div>
        </div>
</div>