<div class="floor0" id="floor0">
        {{#range 1 27}}
            <div class="m{{id}}" id="m0{{id}}">
                
            </div>
        {{/range}}
        <div class="emergency0" id="emgZone01">
                <div class="emgButton" id="emg01">
                </div>
                <div class="emgButton" id="emg03">
                </div>
                <div class="emgButton" id="emg05">
                </div>
        </div>
        <div class="emergency0" id="emgZone02">
                <div class="emgButton" id="emg02">
                </div>
                <div class="emgButton" id="emg04">
                </div>
                <div class="emgButton" id="emg06">
                </div>
        </div>
</div>