<div class="floor1" id="floor1">
        {{#range 1 20}}
            <div class="m{{id}}" id=1{{id}}>
                
            </div>
        {{/range}}
        <div class="emergency1" id="emgZone11">
                <div class="emgButton" id="emg11">
                </div>
                <div class="emgButton" id="emg13">
                </div>
                <div class="emgButton" id="emg15">
                </div>
        </div>
        <div class="emergency1" id="emgZone12">
                <div class="emgButton" id="emg12">
                </div>
                <div class="emgButton" id="emg14">
                </div>
                <div class="emgButton" id="emg16">
                </div>
        </div>
</div>