<div class="legend">
    <div class="row" style="justify-content: center;">
        <span style="color:black;font-size:2em;">Legend</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01"></div>
        <span style="color:black;font-size:1.5em;">  Stop</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01" style="background-color: lightgreen;"></div>
        <span style="color:black;font-size:1.5em;">  Run</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01" style="background-color: lightyellow;"></div>
        <span style="color:black;font-size:1.5em;"> Accumulare</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01"  style="background-color: lightblue;"></div>
        <span style="color:black;font-size:1.5em;"> Poarta Deschisa</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01"  style="background-color: blue;"></div>
        <span style="color:black;font-size:1.5em;">Energy Save</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01"  style="background-color: Orange;"></div>
        <span style="color:black;font-size:1.5em;">Senzor Blocat</span>
    </div>
    <div class="row" style="align-items: flex-start; display:flex;">
        <div id="ml01"  style="background-color: indianred;"></div>
        <span style="color:black;font-size:1.5em;">Eroare</span>
    </div>
</div>