<script>
    function asd(id, nr){
        reply_click(id);
        butIndex = nr;
    }
</script>

<div class="row" id="mainCC">
    <div class="row" id="mainCont" style="display: flex;">
        <div class="row" style="width: 100%; height:50%">
            <div class="gd col-4" >
                <div class="status" id="f33"></div>
                <img src="img/floor3.jpeg" class="gdi" alt="" onclick="asd('f3',0)">
            </div>
            <div class="gd col-4">
                <div class="status" id="f32"></div>
                <img src="img/floor2.jpeg" class="gdi" alt="" onclick="asd('f2',1)">
            </div>
            <div class="gd col-4">
                <div class="status" id="f31"></div>
                <img src="img/floor1.jpeg" class="gdi" alt="" onclick="asd('f1',2)">
            </div>
        </div>
        <div class="row" style="width: 100%; height:50%">
            <div class="gd col-4">
                <div class="status" id="f30"></div>
                <img src="img/floor0.jpeg" class="gdi" alt="" onclick="asd('f0',3)">
            </div>
            <div class="gd col-4">
                <div class="status" id="f34"></div>
                <img src="img/mezanine.jpeg" class="gdi" alt="" onclick="asd('m1',4)">
            </div>
            <div class="gd col-4">
                <div class="status" id="f35"></div>
                <img src="img/single.png" class="gdi" alt=""  onclick="asd('s1',5)">
            </div>
        </div>
    </div>
</div>