<div class="mezanine" id="mezanine">
        <div class="row" id="mzn">
            <div class="tops">

            </div>
            <div class="bottoms">
                {{#range 1 8}}
                    <div class="fills" id="fls{{id}}">
                        <span class="tfls" id="tfls{{id}}">0%</span>
                    </div>
                {{/range}}
                <div class="ciuperci">
                    <div class="emgButton" id="tb1"></div>
                    <div class="emgButton" id="tb2"></div>
                    <div class="emgButton" id="tb3"></div>
                    <div class="emgButton" id="tb4"></div>
                    <div class="emgButton" id="tb5"></div>
                    <div class="emgButton" id="tb6"></div>
                    <div class="emgButton" id="tb7"></div>
                    <div class="emgButton" id="tb8"></div>
                </div>
            </div>
        </div>
</div>