<div class="row" id="surf">
    <div class="col-12">
        <button type="button" class="btn btn-secondary" onclick="back()">Back</button>
        <button type="button" class="btn btn-secondary" onclick="home()">Home</button>
        <button type="button" class="btn btn-secondary" onclick="fwd()">Forward</button>
    </div>
</div>