<div class="col p-0 h-100">
    <div class="card d-flex">
        <div class="col imagine">
            <img src="/img/litulstatus.png" alt="">
        </div>
        <div class="row titlu d-flex"><span><b>Elevator</b></span></div>
        <div class="row scan titlu1 d-flex"><div class="card-img" id="scanlft"></div><span id="liftButton" style="font-family: 'Poppins', sans-serif;">Online</span></div>
    </div>
</div>