<div class="col p-0 h-100">
    <div class="card d-flex">
        <div class="col imagine">
            <img src="/img/emg.png" alt="">
        </div>
        <div class="row titlu d-flex"><span><b>Emergency</b></span></div>
        <div class="row scan titlu1 d-flex"><div class="card-img" id="scanemg"></div><span id="emgButton" style="font-family: 'Poppins', sans-serif;">Released</span></div>
    </div>
</div>