<div class="container custom-container">
    <h3 class="legend-heading" style="font-family: 'Poppins';">Legend</h3>
    <hr class="my-2">
    <div class="row" style="height: 80%;">
        <div class="coloana col-3 p-0">
            <div class="row">
                <div class="status-run"></div>
                <div class="label-run">Motor Run</div>
            </div>
            <div class="row">
                <div class="status-stop"></div>
                <div class="label-stop">Motor Stop</div>
            </div>
            <div class="row">
                <div class="status-save"></div>
                <div class="label-save">Energy Saving</div>
            </div>
            <div class="row">
                <div class="lift-run"></div>
                <div class="label-stop">Lift Run</div>
            </div>
        </div>
        <div class="col-3 p-0">
            <div class="row">
                <div class="status-error"></div>
                <div class="label-error">Motor Error</div>
            </div>
            <div class="row">
                <div class="status-block"></div>
                <div class="label-block">Blocked</div>
            </div>
            <div class="row">
                <div class="status-acumulare"></div>
                <div class="label-block">Accumulation</div>
            </div>
            <div class="row">
                <div class="lift-stop"></div>
                <div class="label-stop">Lift Error</div>
            </div>
        </div>
        <div class="col-3 p-0">
            <div class="row">
                <div class="senzor-run"></div>
                <div class="labelsenzor-run">Senzor Run</div>
            </div>
            <div class="row">
                <div class="senzor-block"></div>
                <div class="labelsenzor-block">Senzor Blocked</div>
            </div>
            <div class="row">
                <div class="lift-error"></div>
                <div class="label-lifter">Lift Stop</div>
            </div>
            <div class="row">
                <div class="divertor-stop"></div>
                <div class="label-lifter">Divertor Stop</div>
            </div>
        </div>
        <div class="col-3 p-0">
            <div class="row">
                <div class="ciuperca-ridicata"></div>
                <div class="label-run">Emergency Released</div>
            </div>
            <div class="row">
                <div class="ciuperca-apasata"></div>
                <div class="label-stop">Emergency is Pressed</div>
            </div>
            <div class="row">
                <div class="divertor-run"></div>
                <div class="label-inactive">Divertor Run</div>
            </div>
            <div class="row">
                <div class="inactive"></div>
                <div class="label-inactive">Divertor Error</div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copy">
    <p>
        Copyright &copy;
        <script>
        document.write(new Date().getFullYear());
        </script>
        All rights reserved by DasstecB2B
    </p>
</div>