<div class="col p-0 h-100" style="margin-left: 10px;">
    <div class="card d-flex">
        <div class="col imagine">
            <img src="/img/server.png" alt="">
        </div>
        <div class="row titlu d-flex"><span><b>Server</b></span></div>
        <div class="row scan titlu1 d-flex"><div class="card-img" id="scan1"></div><span style="font-family: 'Poppins', sans-serif;">Online</span></div>
    </div>
</div>