<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <link rel="stylesheet" href="/css/font.google.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/paho-mqtt.js"></script>
    <script src="/js/sweetalert2.11.js"></script>
    <script src="/js/mqttws31.min.js"></script>
    <link rel="stylesheet" href="/boxicons-2.1.4/css/boxicons.min.css">
    <script src="/js/Alkamqtt.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/documentatie.css">

  <title>Documentation</title>
</head>

<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="logo_details">
            <img src="/img/TagLine2.jpg">
            <i class="bx bx-menu" id="btn"></i>
            </div>
            <hr>
            <ul class="nav-list">
            <li>
                <a href="/dashboard">
                <i class='bx bx-home-alt'></i>
                <span class="link_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
            <a href="/setting">
                <i class='bx bx-transfer bx-rotate-90' ></i>
                <span class="link_name">Elevator</span>
            </a>
            <span class="tooltip">Elevator</span>
            </li>
            <li>
                <a href="/reports">
                <i class='bx bx-bar-chart-alt-2' ></i>
                <span class="link_name">Reports</span>
                </a>
                <span class="tooltip">Reports</span>
            </li>
            <li>
                <a href="/errors">
                <i class='bx bx-error' ></i>
                <span class="link_name">Errors</span>
                </a>
                <span class="tooltip">Errors</span>
            </li>
            <li>
                <a href="/contact">
                <i class='bx bx-phone' ></i>
                <span class="link_name">Contact</span>
                </a>
                <span class="tooltip">Contact</span>
            </li>
            <li>
                <a href="/documentatie">
                <i class='bx bx-book' ></i>
                <span class="link_name">Documentation</span>
                </a>
                <span class="tooltip">Documentation</span>
            </li>
            <li>
                <a href="/logout">
                <i class='bx bx-log-out'></i>
                <span class="link_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
            </ul>
            <div class="footer">
            <p>
                Copyright &copy;
                <script>
                document.write(new Date().getFullYear());
                </script>
                All rights reserved by DasstecB2B
            </p>
            </div>
        </nav>
        <div class="content">
            <div class="row infoMedia">
                <div class="pageName" style="color: white; font-size:25px;"><b>Documentation</b></div>
                <div class="clock-container">
                <p id="date"></p><p id="clock"></p><p id="date"></p></div>
            </div>
            <div class="row continut">
                <embed src="/img/Alka_Documentatie.pdf" type="application/pdf" width="100%" height="100%" />
            </div>
        </div>
    </div>


  <script>
    window.onload = function(){
        const sidebar = document.querySelector(".sidebar");
        const closeBtn = document.querySelector("#btn");
        const searchBtn = document.querySelector(".bx-search")

        closeBtn.addEventListener("click",function(){
            sidebar.classList.toggle("open")
            menuBtnChange()
        })

        function menuBtnChange(){
            if(sidebar.classList.contains("open")){
                closeBtn.classList.replace("bx-menu","bx-menu-alt-right")
            }else{
                closeBtn.classList.replace("bx-menu-alt-right","bx-menu")
            }
        }
    }

    function updateClock() {
      const now = new Date();
      const hours = now.getHours().toString().padStart(2, '0');
      const minutes = now.getMinutes().toString().padStart(2, '0');
      const seconds = now.getSeconds().toString().padStart(2, '0');
      
      const clockElement = document.getElementById('clock');
      clockElement.textContent = `${hours}:${minutes}:${seconds}`;
      
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      const dateElement = document.getElementById('date');
      dateElement.textContent = now.toLocaleDateString(undefined, options);
    }
    updateClock();
    setInterval(updateClock, 1000);

  </script>

    <script>
        (function ($) {
            "use strict";
            var fullHeight = function () {
                $(".js-fullheight").css("height", $(window).height());
                $(window).resize(function () {
                    $(".js-fullheight").css("height", $(window).height());
                });
            };
            fullHeight();
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar").toggleClass("active");
            });
        })(jQuery);
    </script>

</body>
</html>